.socialcard {
  max-width: 681px;
  max-height: 733px;
  width: 80vw;
  height: 70vh;
  border-top: 2px solid rgba(0, 0, 0, 0.61);
  border-bottom: 2px solid rgba(0, 0, 0, 0.61);
  &__top {
    width: 100%;
    height: 10vh;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    &__info {
      display: flex;
      flex-direction: column;

      &__userimg {
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 2rem;
      }
      &__top {
        display: flex;
      }
      &__username {
        margin-left: 1rem;
        color: black;
        font-weight: bold;
      }
      &__userat {
        margin-left: 0.5rem;
        font-weight: 400;
        color: gray;
      }
      &__postdate {
        font-weight: 600;
        color: grey;
        margin-left: 0.5rem;
      }
    }
    &__posttitle {
      margin-left: 1rem;
    }
    &__postauthor {
      margin-left: 1rem;
    }
  }

  &__mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: inherit;

    &__img {
      background-image: url("../../Images/imagetest.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 586px;
      height: 300px;
      position: relative;
      right: 0.5rem;
      z-index: -1;
    }
    &__textbox {
      width: 575px;
      height: 420px;
      border: 2px solid rgb(54, 54, 54);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 10px;
      position: relative;
      left: 0.5rem;
      overflow: hidden;

      &__posttitle {
        font-weight: 800;
        margin-bottom: 0.4rem;
      }
      &__postcontent {
        margin-bottom: 0.6rem;
      }
      &__postlink {
        color: gray;
      }
    }
    &__text {
      padding: 0.7rem;
      padding-top: 1rem;
    }
  }
  &__bot {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__commenticon {
      width: auto;
      height: 35px;
      position: relative;
      left: 4rem;
    }
    &__comment {
      position: relative;
      left: 4.2rem;
    }
    &__reposticon {
      width: auto;
      height: 40px;
      position: relative;
      left: 5rem;
    }
    &__repost {
      position: relative;
      left: 5.2rem;
    }
    &__likedicon {
      width: auto;
      height: 35px;
      position: relative;
      left: 6rem;
    }
    &__liked {
      position: relative;
      left: 6.2rem;
    }
    &__mailicon {
      width: auto;
      height: 35px;
      position: relative;
      left: 7rem;
    }
  }
}
